#{extends 'main.html' /}
#{set title:'Thème: '+theActualTheme.label /}

<div class="row">
    <div class="span3">
        <div class="">
            <ul class="nav nav-list">  
                <li class="nav-header">Thèmes</li>

                   
#{list items:themes, as:'the'}
    <li  #{if the.label==theActualTheme.label}class="active"#{/if} >
        <a href="@{Application.theme(the.label)}">${the.label}</a>
    </li>
#{/list}
            </ul>
        </div>
    </div>
    <style>
        .deleteTheme {
            position:absolute;
            display: none;
        }
        div.span4:hover .deleteTheme {
            display: block;
        }
        
        .deleteIndication {
            position:absolute;
            margin-left: 173px;
            margin-top: -1px;
            display: none;
        }
        .themesIndications tbody tr:hover .deleteIndication {
            display: block;
        }
    </style>
    <div class="span9">
        <div class="row">
            <div class="span4 offset2">        
                <a href="@{Administration.removeTheme(theActualTheme.id,null)}" class="deleteTheme btn btn-mini btn-danger"><i class="icon icon-remove"></i>supprimer le thème</a>
                #{renderThemeIndications theme:theActualTheme/}
                
            </div>
        </div>
        <div class="row">          
                #{list items:theActualTheme.sousThemes, as:'ssThe'}
                <div class="span4">                     
                    <a href="@{Administration.removeTheme(ssThe.id,theActualTheme.id)}" class="deleteTheme btn btn-mini btn-danger"><i class="icon icon-remove"></i>supprimer le thème</a>
                 #{renderThemeIndications theme:ssThe/}
                 
                </div>
                #{/list}
        </div>
    </div>
</div>